/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:Tahoma, Geneva, sans-serif;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix{
	clear:both;
	}
.wrapper{
	width:960px;
	margin: 10px auto 0;
	height:auto
	}
.header{
	width:960px;
	margin:0 auto;
}
.front{
	width:960px;
	margin: 5px auto 0;	
}
.menuwrap{
	width:960px;
	margin: 20px auto 0;	
}
.menuitem{
	width:150px;
	margin-right:30px;
	border-top: 1px #666 solid;
	padding-top: 8px;
	display:block;
	float:left;
}

.menuitem h1{
	font-size: 14px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#333;
	font-weight:800;
	line-height:1.4em;
}
.menuitem a{
	text-decoration:none;
	color:#333;	
}
.menuitem h2{
	font-size: 11px;
	font-family:Tahoma, Geneva, sans-serif;
	color:#666;
	line-height:1.4em;
}
.headmenu{
 border-top: 1px #666 dotted;
 border-bottom: 1px #666 dotted;
 width:960px;
 margin: 10px auto 0;
 min-height:50px;
 display:block;
 padding-top:10px;
}
.portfolio{
	padding-top:5px;
	float:left;
	width:660px;
	height:auto;
}
.portfolio ul,ol{
	list-style:none;
	float:left;
	line-height:1.6em;
}
.portfolio li{
	float:left;
	margin-right:10px;
	font-size:11px;
	color:#333;
}
.menuright{
	float:right;
	width:300px;
}
.imenuright{
	float:left;
	width:130px;
	margin:5px;
	font-size:12px;
	font-weight:800;
	color:#333;
	text-align:center;
	font-family:Tahoma, Geneva, sans-serif
}
.content{
	width:960px;
	margin:10px auto 0;
	font-size:11px;
	line-height:1.4em;
}
.clients{
	float:left;
	width:180;
	margin: 0 6px 0 6px;
	height:150px;
	font-size:11px;	
}